<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns:th="https://www.thymeleaf.org">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Techcret : Display Data</title>

</head>
<body>

<div class="container ">

    <h1> <b> <label>Title  : Description</label></b></h1><hr>

    <table class="table table-responsive table-hover table-stripped table-bordered">
        <thead>
        <tr>
            <th> Title </th>
            <th> Description</th>
            <th> User Name</th>
            <th> Time
        </tr>

    <tbody>
    <tr th:each="toDoVO: ${toDoVOList}">

        <td  th:text="${toDoVO.getTitle()}" />
        <td th:text="${toDoVO.getDescription()}" />
        <td th:text="${toDoVO.getInputUserName()}" />
        <td th:text="${toDoVO.getLocalDateTime()}" />
    </tr>
    </tbody>
    </table>

<!--<div class="card bg-light border border-danger border-left-0 col-5">
    <div class="card-header">Todo Web APP</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Added Task List</h5>
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>







    </div>-->

</div>








<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>